body {
    background-color: cyan;
    color: #BD8D46;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#quasar-slides {
    flex: 1;
    position: relative;
}

.quasar-slide {
    left: 0; top: 0; bottom: 0; right: 0;
    background-color: #4C1B1B;
}

.btn {
    transition: all .2s ease-in-out;
    background-color: #BD8D46;
    color: #4C1B1B;
}

.btn:hover {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    padding: 22px;
    font-size: 75%;
    color: white;
    display: flex;
    justify-content: space-between;
}
