body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

h2 { color: #FFF; }

#content {
    flex: 1;
    background-color: #000;
    color: #FFF;
    padding: 64px;
    display: flex;
}

#content > * {
    margin: auto;
    width: 100%;
}

header {
    padding: 8px;
    background-color: black;
}

footer {
    padding: 18px;
}

.btn {
    background-color: #105B63;
    color: white;
    font-weight: 900;
    margin: 12px;
}

.btn:hover {
    background-color: black;
}


img { width: 100%; }
